.button {
  background-color: var(--color-nemo);
  width: 6rem;
  align-self: center;
  border: none;
  border-radius: 1rem;
  font-size: 1.1rem;
  padding: 0.3rem;
}

.button:hover {
  background-color: var(--color-nemo-dark);
}
