.tab {
  border: 0.7px solid var(--color-granite);
  border-bottom: none;
  padding: 0.2rem 0.4rem;
  border-radius: 0.5rem 0.5rem 0 0;
  background-color: var(--color-foam);
  cursor: pointer;
}

.tab--inactive {
  opacity: 50%;
}

.tab:hover {
  background-color: var(--color-water-10);
}
